@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    padding: 20px;
    overflow: hidden;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.app {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}